<!DOCTYPE html>
<html>
  <head>
    <title>Tuition Calculator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="header-subcontainer">
          <p class="header-text">Tuition Calculator</p>
        </div>
        <img
          src="{{ url_for('static', filename='images/uc-logo.png') }}"
          alt="logo"
          class="header-logo"
        />
      </div>
    </header>

    <main>
      <div class="welcome-section-container">
        <div class="welcome-content">
          <div class="welcome-content-icon-container">
            <img
              src="{{ url_for('static', filename='icons/calculator.svg') }}"
              alt="Calculator icon"
              class="main-icon"
            />
            <p class="welcome-title">
              Welcome to the UC Online Tuition Calculator
            </p>
          </div>
          <p class="welcome-text">
            Select your courses and learner type below to receive an accurate,
            comprehensive cost breakdown including Student Services Levy (SSL)
            and GST where applicable. Export your results to PDF for record
            keeping or visa documentation.
          </p>
        </div>
      </div>

      <div class="main-content-container">
        <div class="learner-info-container">
          <div class="learner-info-header-container">
            <div class="learner-info-header-logo-container">
              <img
                src="{{ url_for('static', filename='icons/users.svg') }}"
                alt="Person icon"
                class="main-icon"
              />
              <p class="learner-info-header-text">Learner Information</p>
            </div>
            <p class="learner-info-header-text">
              Select your learner type and current location to calculate
              accurate costs
            </p>
          </div>

          <div class="learner-info-selection-container">
            <div class="learner-info-select-container">
              <div class="learner-info-select-icon-container">
                <img
                  src="{{ url_for('static', filename='icons/graduation-cap.svg') }}"
                  alt="Graduation cap icon"
                  class="sub-icon"
                />
                <p class="learner-info-select-text">Learner Type</p>
              </div>
              <form method="post">
                <div class="learner-info-label-container">
                  <label class="learner-info-option">
                    <input
                      type="radio"
                      id="domestic"
                      name="learner_type"
                      value="domestic"
                      checked
                    />
                    <div class="learner-info-text">
                      <p class="learner-info-option-text">Domestic Learner</p>
                      <p class="learner-info-option-text">
                        New Zealand citizen or resident
                      </p>
                    </div>
                  </label>

                  <label class="learner-info-option">
                    <input
                      type="radio"
                      id="international"
                      name="learner_type"
                      value="international"
                    />
                    <div class="learner-info-text">
                      <p class="learner-info-option-text">
                        International Learner
                      </p>
                      <p class="learner-info-option-text">
                        International Student
                      </p>
                    </div>
                  </label>
                </div>
              </form>
            </div>

            <div class="learner-info-select-container">
              <div class="learner-info-select-icon-container">
                <img
                  src="{{ url_for('static', filename='icons/map-pin-black.svg') }}"
                  alt="Location pin icon"
                  class="sub-icon"
                />
                <p class="learner-info-select-text">
                  Current Physical Location
                </p>
              </div>
              <form method="post">
                <label class="learner-info-option">
                  <input
                    type="radio"
                    id="onshore"
                    name="location"
                    value="onshore"
                    checked
                  />
                  <div class="learner-info-text">
                    <p class="learner-info-option-text">
                      Onshore (In New Zealand)
                    </p>
                    <p class="learner-info-option-text">GST applies</p>
                  </div>
                </label>

                <label class="learner-info-option">
                  <input
                    type="radio"
                    id="offshore"
                    name="location"
                    value="offshore"
                  />
                  <div class="learner-info-text">
                    <p class="learner-info-option-text">
                      Offshore (Outside New Zealand)
                    </p>
                    <p class="learner-info-option-text">GST does not apply</p>
                  </div>
                </label>
              </form>
            </div>
          </div>
        </div>
        <div class="cost-summary-container">
          <div class="cost-summary-header-container">
            <img
              src="{{ url_for('static', filename='icons/receipt.svg') }}"
              alt="Receipt icon"
              class="main-icon"
            />
            <p class="cost-summary-header">Cost Summary</p>
          </div>
          <div class="cost-summary-idle-container">
            <img
              src="{{ url_for('static', filename='icons/circle-alert.svg') }}"
              alt="Alert pin icon"
              class="cost-summary-icon"
            />
            <p class="cost-summary-text-idle">
              Select courses to see course breakdown
            </p>
          </div>
        </div>
        <div class="course-selection-container">
          <div class="course-selection-heading-container">
            <div class="course-selection-icon-container">
              <img
                src="{{ url_for('static', filename='icons/book-open.svg') }}"
                alt="Open book icon"
                class="main-icon"
              />
              <p class="course-selection-heading">Course Selection</p>
            </div>
            <p class="course-selection-container-text">
              Search and select courses to add to your cost calculation
            </p>
          </div>
          <div class="course-selection-search-container">
            <form class="course-search" role="search">
              <label for="course-search" class="course-search-label"
                >Available Courses</label
              >
              <input
                id="course-search"
                class="search-input"
                name="q"
                type="search"
                placeholder="Search
            by course code or name..."
              />
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <p class="footer-text">
        UC Online Course Costing Application | University of Canterbury
      </p>
    </footer>
  </body>
</html>
