/* ==================== Global ==================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  max-width: 60rem;
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-container {
  display: flex;
  justify-content: center;
}

/* ==================== Header ==================== */

.header {
  width: 100vw;
  text-align: center;
  background: #212121;
}

.header-container {
  margin: 0 auto;
  padding: 1.5rem 10rem;
  display: flex;
  gap: 1.3rem;
}

.header-subcontainer {
  display: flex;
  flex-direction: column;
  order: 2;
}

.header-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.header-subheading {
  font-size: 0.875rem;
  color: white;
}

.header-logo {
  height: 4rem;
}

/* ==================== Learner-info ==================== */

.learner-info-container {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1.5rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.learner-info-header-container {
  display: flex;
  flex-direction: column;
  gap: 0.09rem;
}

.learner-info-heading {
  font-size: 1rem;
}

.learner-info-subheading {
  font-size: 1rem;
}

.learner-info-selection-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.learner-info-select-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.learner-info-select-text {
  font-size: 0.875rem;
}

/* ==================== Footer ==================== */

.footer {
  width: 100vw;
  text-align: center;
  background: #212121;
  padding: 1.5rem 10rem;
}

.footer-text {
  color: white;
}
