/* ==================== Global ==================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  color: #2c2c2c;
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  max-width: 80rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
}

.main-content-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
}

.main-icon {
  width: 1.15rem;
}

.sub-icon {
  width: 0.95rem;
}

/* ==================== Header ==================== */

.header {
  width: 100vw;
  text-align: center;
  background: #212121;
}

.header-container {
  margin: 0 auto;
  padding: 1.5rem 10rem;
  display: flex;
  gap: 1.3rem;
}

.header-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
}

.header-text {
  font-size: 1.42rem;
  font-weight: 900;
  font-weight: bold;
  color: white;
}

.header-subtext {
  font-size: 0.875rem;
  color: white;
}

.header-logo {
  height: 4rem;
}

/* ==================== Welcome-section ==================== */

.welcome-section-container {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  padding: 1.5rem;
  margin-bottom: 1.25rem;
  margin-top: 1.75rem;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.welcome-content-icon-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.welcome-text-block {
  max-width: 60rem;
}

.welcome-title {
  font-size: 1rem;
  font-weight: 600;
}

.welcome-text {
  font-size: 0.875rem;
  margin-left: 1.65rem;
}

/* ==================== Learner-info ==================== */

.learner-info-container {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-column: span 2 / span 2;
}

.learner-info-header-container {
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.09rem;
}

.learner-info-header-logo-container {
  display: flex;
  gap: 0.5rem;
}

.learner-info-header-text {
  font-size: 1rem;
}

.learner-info-selection-container {
  padding-inline: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.learner-info-select-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.learner-info-select-icon-container {
  display: flex;
  gap: 0.25rem;
}

.learner-info-select-text {
  font-size: 0.875rem;
}

.learner-info-option {
  font-size: 0.875rem;
  padding: 16px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  margin-bottom: 0.75rem;
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.learner-info-option:hover {
  background-color: #f0f0f0;
}

.learner-info-text {
  display: flex;
  flex-direction: column;
}

/* ==================== Cost Breakdown ==================== */

.cost-summary-container {
  padding: 1.5rem;
  height: 40%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
}

.cost-summary-header-container {
  margin-bottom: 3rem;
  display: flex;
  gap: 0.25rem;
}

.cost-summary-header {
  font-size: 1rem;
}

.cost-summary-idle-container {
  text-align: center;
}

.cost-summary-icon {
  width: 3rem;
  margin-bottom: 0.5rem;
}

/* ==================== Course Selection ==================== */

.course-selection-container {
  padding: 1.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid #e5e7eb;
  border-radius: 10px;

  grid-column: span 2 / span 2;
}

.course-selection-heading-container {
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.course-selection-heading-icon-container {
  display: flex;
  gap: 0.4rem;
}

.course-search {
  margin-bottom: 0.75rem;

  display: flex;
  flex-direction: column;
}

.course-search-label {
  margin-bottom: 1rem;
}

.search-input {
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border-radius: 4px;
  border: 1.2px solid #d1d5db;
  background: url("icons/search-grey.svg") no-repeat 10px center;
  background-size: 1rem 1rem;
}

.search-input::placeholder {
  color: #616161;
}

.search-input:focus {
  border-color: #757575;
  background-color: #fff;
  outline: none;
}

.course-selection-degree-filter {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.course-degree-filter {
  font-size: 0.875rem;
  color: #ce3e2e;
  background-color: #fff;
  padding: 7px 10px;
  border: 1.2px solid #ce3e2e;
  border-radius: 8px;
  cursor: pointer;
}

.course-degree-filter:hover {
  color: #fff;
  background-color: #ce3e2e;
}

.course-degree-filter-active {
  color: #fff;
  background-color: #ce3e2e;
}

.course-selection-course-list {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

.course-selection-course {
  padding: 0.55rem 0.65rem;
  border: 1.2px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.course-selection-course-info-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.course-selection-course-code-container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.course-selection-course-degree {
  color: #000;
  font-size: 0.75rem;
  padding: 0.1rem 0.7rem;
  border: 1.2px solid #000;
  border-radius: 8px;
}

.course-selection-course-points {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

.course-selection-course-button-container {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.course-selection-course-button {
  font-size: 0.875rem;
  color: #fff;
  background-color: #ce3e2e;
  padding: 2.5px 10px;
  border: 1px solid #ce3e2e;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.course-selection-course-button-add {
  font-size: 1.35rem;
}

.course-selection-course-button:hover {
  border: 1.2px solid #d35143;
  background-color: #d35143;
}

/* ==================== Learner-info ==================== */
.ssl-container {
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 7rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 10px;
  background-color: #ededed;
  border: 1px solid #e5e7eb;
  grid-column: span 2 / span 2;
}

.ssl-container-header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.ssl-container-header-row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.ssl-container-icon-wrapper {
  background-color: rgba(206, 62, 46, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  line-height: 0;
}

.ssl-container-title {
  font-size: 1rem;
}

.ssl-container-subtitle {
  font-size: 0.875rem;
}

.ssl-container-content {
  display: grid;
  gap: 1rem;
}

.radio-button { 
  accent-color: black;
}

.ssl-panel-onshore,
.ssl-panel-offshore {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 0.1);
  background-color: #ffffff;
  border-radius: 0.75rem;
  padding: 1rem;
  border: 1px solid #e5e7eb;
}

.ssl-panel-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.ssl-panel-icon-wrapper {
  background-color: rgba(206, 62, 46, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  line-height: 0;
}

.ssl-panel-header-text {
  display: flex;
  flex-direction: column;
}

.ssl-panel-title {
  font-size: 0.95rem;
}

.ssl-panel-subtitle {
  font-size: 0.75rem;
  color: rgba(44, 44, 44, 0.8);
}

.ssl-panel-rows {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 2.75rem;
}

.ssl-panel-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding-block: 0.375rem;
}

.ssl-panel-row:not(:last-child) {
  border-bottom: 1px solid #f2f5f9;
}

.ssl-panel-value {
  color: #ce3e2e;
  font-size: 1rem;
}

/* ==================== Footer ==================== */

.footer {
  width: 100vw;
  text-align: center;
  background: #212121;
  padding: 2.5rem 10rem;
}

.footer-text {
  color: white;
}
